  body {
    background-color: lightblue;
  }

@media only screen and (min-resolution: 3dppx) {
  body {
    background-color: gree;
  }
}
@media only screen and (min-resolution: 2dppx) {
  body {
    background-color: red;
  }
}
@media only screen and (min-resolution: 1dppx) {
  body {
    background-color: yellow;
  }
}
