@media only screen and (min-resolution: 3dppx) {
  body {
    background-color: gree;
  }
}
@media only screen and (min-resolution: 2dppx AND max-width: 600px) {
  body {
    background-color: red;
  }
}
@media only screen and (min-resolution: 1dppx AND max-width: 600px) {
  body {
    background-color: yellow;
  }
}
